---
layout: page
permalink: /publications_and_patents/
---
%p
  %strong Publication

%p
  %strong Computer Human Interaction Conference (CHI), Austin, TX, May 2012

%p
  CHI is a major Human Computer Interaction conference in the world. Published in (CHI) in May 2012 for research work to gauge the effectiveness of different ways to teach
  %strong
    English as Second Language (ESL)
  to small children. Different ways of teaching are reading, listening and speaking.
%p
  Developed mobile games in Actionscript 3 for Nokia N810 cellphone. The games can recognize speech which helps children to speak words that they learn while playing the game.
%p
  Conducted Field Studies to collect data with children at an NGO and analysed them for results.
%p
  The research paper can be accessed <a href='http://www.rajatagrawal.net/wp/wp-content/uploads/2014/06/rajat_agrawal_chi_paper.pdf'>here</a>.
  The source code is <a href='https://github.com/rajatagrawal/farmGame'>here.</a>

%p
Below is a video of the mobile games that I developed for this project.
{% youtube hQ15LmL9ULk %}

%p
  %strong Patents
%ul
  %li
    Researched and developed an iPad prototype for customer care representatives to video chat with customers. It was a 8 month project that involved user research, contextual inquiries, field studies and user interviews.
  %li The final project prototype and <strong>research findings have been patented in the United States</strong> as below,
