---
layout: page
permalink: /publications_and_patents/
---
%p
  %strong Publication

%p
  %strong Improving literacy in developing countries using speech recognition-supported games on mobile devices.
  %br
  In proceedings of the 2012 ACM annual conference on Human Factors in Computing Systems (CHI ‘12). ACM, New York, NY, USA, Anuj Kumar, Pooja Reddy, Anuj Tewari, Rajat Agrawal, and Matthew Kam

%p
  CHI is a major Human Computer Interaction conference in the world. Published in (CHI) in May 2012 for research work to gauge the effectiveness of different ways to teach
  %strong
    English as Second Language (ESL)
  to small children. Different ways of teaching are reading, listening and speaking.
%p
  Developed mobile games in Actionscript 3 for Nokia N810 cellphone. The games can recognize speech which helps children to speak words that they learn while playing the game.
%p
  Conducted Field Studies to collect data with children at an NGO and analysed them for results.
%p
  The research paper can be accessed <a href='http://www.rajatagrawal.net/wp/wp-content/uploads/2014/06/rajat_agrawal_chi_paper.pdf'>here</a>.
  The source code is <a href='https://github.com/rajatagrawal/farmGame'>here.</a>

%p
Below is a video of the mobile games that I developed for this project.
{% youtube hQ15LmL9ULk %}

%p
  %strong Patents
%ul
  %li
    Researched and developed an iPad prototype for customer care representatives to video chat with customers. It was a 8 month project that involved user research, contextual inquiries, field studies and user interviews.
  %li The final project prototype and <strong>research findings have been patented in the United States</strong> as below,

  %li
    %a{ href: 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8866878.PN.&OS=PN/8866878&RS=PN/8866878'}
      Representative pre-selection for customer service video conference
    %p United States 8,866,878

  %li
    %a{ href: 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8866877.PN.&OS=PN/8866877&RS=PN/8866877'}
      Split screen presentation of functionality during a hold period prior to a customer-service video conference
    %p United States 8,866,877

  %li
    %a{ href: 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8867734.PN.&OS=PN/8867734&RS=PN/8867734'}
      Functionality during a hold period prior to a customer-service video conference
    %p United States 8,867,734

  %li
    %a{ href: 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8,902,279.PN.&OS=PN/8,902,279&RS=PN/8,902,279'}
      Representative selection for customer service conference
    %p United States 8,902,279

  %li
    %a{ href: 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=8,942,684.PN.&OS=PN/8,942,684&RS=PN/8,942,684'}
      Adaptive scaffolding of levels of connectivity during a conference
    %p United States 8,942,684

  %li
    %a{ href: 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=9,001,180.PN.&OS=PN/9,001,180&RS=PN/9,001,180'}
      Multiple-participant customer service conference
    %p United States 9,001,180
